<div class="row justify-content-center">
    <div class="col-md-4 register-employee">
      <!-- form card register -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Edit accessoire</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
 
            <div class="form-group">
              <label for="inputName">title</label>
              <input class="form-control" type="text" formControlName="title">
              <div class="invalid-feedback" *ngIf="submitted && myForm.title.errors?.required">
                title is required.
              </div>
            </div>
            <div class="form-group">
              <label for="inputName">intitule</label>
              <input class="form-control" type="text" formControlName="intitule">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.intitule.errors?.required">
                Enter your intitule.
              </div>
              <div class="invalid-feedback" *ngIf="submitted && myForm.intitule.errors?.pattern">
                Enter valid intitule.
              </div>
            </div>     
            <div class="form-group">
              <label for="inputName">price</label>
              <input class="form-control" type="text" formControlName="price">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.price.errors?.required">
                Enter your price.
              </div>
              <div class="invalid-feedback" *ngIf="submitted && myForm.price.errors?.pattern">
                Enter valid price.
              </div>
            </div>    
            <div class="card-body">
              <img [src]="" style="width:100px;height:100px">
              <input type="file" #image accept="image/*" (change)="handleFileInput($event.target.files)">
              </div> 
            <div class="form-group">
              <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div><!-- form  -->
    </div>
  </div>
 