<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup] = "myForm">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" formControlName="username" class="form-control" placeholder="Username" autocomplete="username" required>
                  <span *ngIf="isValid('username')">Entred username is required</span>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" formControlName="email" class="form-control" placeholder="Email" autocomplete="email" required>
                  <span *ngIf="isValid('email')">Entred email is invalid</span>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span  class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" formControlName="password" class="form-control" placeholder="Password" autocomplete="new-password" required>
                  <span *ngIf="isValid('password')">Password is a mandatory field</span>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="cnfpassword" placeholder="Repeat password" autocomplete="new-password" required>
                  <span  *ngIf="isValid('cnfpassword')">Password and confirm password should match</span>
                </div>
                <button type="button" (click)="register()" class="btn btn-block btn-success">Create Account</button>

                <div style="text-align: center;">
                {{successMessage}}</div>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
