<div class="animated fadeIn">
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-accent-primary mb-3">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Combined All Table
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Age</th>
                  <th>Phone Number</th>
                  <th>Email</th>
                  <th>Coins</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let player of playerList">
                  <td>{{player.firstName}}</td>
                  <td>{{player.lastName}}</td>
                  <td>{{player.age}}</td>
                  <td>{{player.phoneNumber}}</td>
                  <td>{{player.email}}</td>
                  <td>{{player.coins}}</td>
                </tr>
              </tbody>
            </table>
            <div class="float-md-right">
              <a class="btn" target="_blank" [routerLink]="['/map', 'players']">
                <span class="badge badge-success button">Map</span>
              </a>
            </div>
            <nav>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  