<div class="animated fadeIn" >
  <div class="card card-accent-info mb-3">
    <div class="card-header">
      <button class="btn" (click)="Consulter()">Events</button>
      <input class="form-control mr-sm-2"  [(ngModel)]="searchEventsByTitre" type="search" placeholder="Search" aria-label="Search">
    </div>
    </div>
</div>

<div class="card text-center">
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let e of (eventList | searchEvents:searchEventsByTitre); let i = index" width="500px" height="500px">
      <div class="card card-accent-danger">
        <div class="card-header">
          {{e.title}} 
          <div class="card-header-actions" style="height: 21px;" >
            <label class="switch switch-sm switch-label switch-info"  >
              <input type="checkbox" class="switch-input"  [checked]="e.isActive==true" (click)="onUpdate($event, e)">
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>
        </div>
        <div class="card-body">
        {{e.description}}<br>
        Nombre des participants : {{e.numberParticipants}}<br>
        Max Nombre des participants : {{e.maxNumberParticipant}} <br>
        dale limite : {{e.endDate | date}} <br>
        Is active : {{e.isActive}}
       
        
        <a class="text-danger btn" [routerLink]="['/events',e.partner._id]">{{e.partner.managerName}}</a>
       
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="float-md-right">
    <a class="btn" target="_blank" [routerLink]="['/map', 'events']">
    <span class="badge badge-success button">Map</span>
    </a>
  </div>
</div>
</div>

