<div class="animated fadeIn" >
  <div class="card card-accent-info mb-3">
    <div class="card-header">
      <button class="btn" (click)="Consulter()">Articles</button>
      <input class="form-control mr-sm-2"  [(ngModel)]="searchItemsByTitre" type="search" placeholder="Search" aria-label="Search">
    </div>
  </div>
</div>

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let article of (articleList | searchArticles:searchItemsByTitre); let i = index" width="500px" height="500px">
        <div class="card card-accent-danger">
          <div class="card-header">
            {{article.intitule}}
            <div class="card-header-actions" style="height: 21px;" >
              <label class="switch switch-sm switch-label switch-info"  >
                <input type="checkbox" class="switch-input" [checked]="article.isActive==true" (click)="onUpdate($event, article)">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
          <div class="card-body">
          <img src="{{article.image}}" style="width:100px;height:100px">
          {{article.description}}<br>
          {{article.isActive}}
           | par <a class="text-danger btn" [routerLink]="['/articles', article.partner._id]">{{article.partner.managerName}}</a>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>

  