<div class="animated fadeIn" >
  <div class="card">
    <div class="card-header">
      <button class="btn" (click)="Consulter()">Accessoires</button>
      <input class="form-control mr-sm-2"  [(ngModel)]="searchAccessoireByTitre" type="search" placeholder="Search" aria-label="Search">
      <div class="card-header-actions">
        <a class="btn" target="_blank" [routerLink]="['/accessoires/adds']">
          <span class="fa fa-plus-square fa-lg mt-4"></span>
        </a>
      </div>
    </div>
    </div>
</div>
<div class="animated fadeIn">
<div class="row">
<div class="col-sm-6 col-md-4" *ngFor="let accessory of (accessoireList | searchAccessoire:searchAccessoireByTitre); let i = index"> 
  
  <div class="card border-primary" > 
    <div class="card-body">
      <div class="float-md-left">
        <img src="{{accessory.image}}" style="width:100px;height:100px">
      </div>
      
      <blockquote class="card-bodyquote">
        <p>{{accessory.intitule}}</p>
        <footer>Someone famous in
          <cite title="Source Title">{{accessory.title}}</cite>
        </footer>
      </blockquote>
      <div class="float-md-right">
        <a class="btn"> <i class="fa fa-pencil fa-lg mt-4" [routerLink]="['/accessoires/accessoiresedit/', accessory._id]"></i></a>
        <a class="btn"><span  class="fa fa-trash fa-lg mt-4" (click)="removeEmployee(accessory, i)"></span ></a>
      </div>  
    </div>
  </div>
</div>
</div><!--/.col-->
</div>