<div class="animated fadeIn" >
  <div class="card card-accent-info mb-3">
    <div class="card-header">
      <button class="btn" (click)="Consulter()">Publicities</button>
      <input class="form-control mr-sm-2"  [(ngModel)]="searchPublicitiesByTitre" type="search" placeholder="Search" aria-label="Search">
    </div>
  </div>
</div>

    <div class="animated fadeIn">
      <div class="row">
        <div class="col-sm-5" *ngFor="let pub of (publiciteList | searchPublicities:searchPublicitiesByTitre)">
          <div class="card card-accent-danger">
            <div class="card-header">
              {{pub.namePublicity}}
              <div class="card-header-actions" style="height: 21px;" >
                <label class="switch switch-sm switch-label switch-info"  >
                  <input type="checkbox" class="switch-input" [checked]="pub.isActive==true" (click)="onUpdate($event, pub)">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
            </div>
            <div class="card-body">
              {{pub.description}}<br><br><br><br><br><br>
              {{pub.isActive}}

              {{pub.endDate | date}} | par <a class="text-danger btn"  [routerLink]="['/publicites', pub.partner._id]">{{pub.partner.managerName}}</a>
                <div class="float-md-right">
                  <a class="btn" target="_blank" [routerLink]="['/map', pub._id]">
                  <span class="badge badge-success button">Map</span>
                  </a>
                </div>
            </div>
          </div>
        </div><!--/.col-->
     </div>
    </div>

   
   
  
    

   