<div class="animated fadeIn">
 <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card card-accent-danger">
        <div class="card-header">
           <i class="fa fa-edit"></i>Ajout Accessoire
        </div>
        <div class="card-body">
          <form class="form-horizontal" #imageForm=ngForm (ngSubmit)="OnSubmit(intitule,title,image,price,startDate,endDate)">
            <div class="form-group">
              <input type="text" class="form-control" id="country" #intitule ngModel name="intitule" placeholder="Intitule">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="country" #title ngModel name="title" placeholder="Titre">
            </div>
            <div class="card-body">
            <img [src]="imageUrl" style="width:100px;height:100px">
            <input type="file" #image accept="image/*" (change)="handleFileInput($event.target.files)">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="country" #price ngModel name="price" placeholder="Price">
            </div>
            <div class="form-group">
              
              <input #startDate ngModel name ="startDate" class="form-control" type="date"/>
            </div>
            <div class="form-group">
              
               <input #endDate ngModel name ="endDate" class="form-control" type="date"/>
             </div>    
          <div class="form-actions">
            <button type="submit" class="btn btn-outline-success btn-lg btn-block" [disabled]="image.value=='' || !imageForm.valid">Enregistrer</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
