<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-accent-primary mb-3">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Users
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Username</th>
                <th>Date registered</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let partner of partnerList ">
                <td>{{partner.managerName}}</td>
                <td>{{partner.createdAt | date}}</td>
                <td>{{partner.role}}</td>
                <td><div class="card-header-actions" style="height: 21px;" >
                  <label class="switch switch-sm switch-label switch-info"  >
                    <input type="checkbox" class="switch-input" [checked]="partner.status==true" (click)="onUpdate($event, partner)">
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </div></td>
              </tr>
              <tr *ngFor="let player of playerList ">
                <td>{{player.firstName}}</td>
                <td>{{player.createdAt | date}}</td>
                <td>{{player.role}}</td>
                <td><div class="card-header-actions" style="height: 21px;" >
                  <label class="switch switch-sm switch-label switch-info"  >
                    <input type="checkbox" class="switch-input" [checked]="player.status==true" (click)="onUpdate($event, player)">
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </div></td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
